/* 
* Links 
*/

a,
a:focus,
a:hover {
  color: #fff;
}

/*
 * Base structure
 */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url(/static/uploads/pins1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  text-align: center;
  font-family: 'Sanchez', serif;
}

h1 {
  color: white;
  font-size: 400%;
}

/*
* Lead font
*/

.lead {
  color: #0E1717;
}

/* 
* Extra markup and styles for table-esque vertical and horizontal centering 
*/

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;  
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  margin-top: 220px;
  display: block;
  vertical-align: top;
}

.inner {
  padding: 30px;
}

/*
 * Header
 */

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}

.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 18px;
  font-weight: bold;
  color: #0E1717;
  border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #ff0000;
  border-bottom-color: rgba(255,255,255,.25);
}

.masthead-brand > a:hover,
.masthead-brand > a:focus {
  background-color: transparent;
  border-bottom-color: #ff0000;
  border-bottom-color: rgba(255,255,255,.25);
}

.masthead-brand > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 24px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: #0E1717;
  display: inline-block;
  text-decoration: none;
}
  
@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  .masthead {
    position: fixed;
    top: 0;
  }

  /* 
  * Start the vertical centering 
  */

  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* 
  * Handle the widths 
  */

  .masthead,
  .cover-container {
    width: 100%; 
  }
}

@media (min-width: 992px) {
  .masthead,
  .cover-container {
    width: 100%;
  }
}

/*
* Login & Signup Page
*/

.login {
  position: fixed;
  padding: 30px;
  width: 220px;
  height: 240px;
  top: 50%;
  left: 50%; 
  margin-top: -110px;
  margin-left: -120px;
  color: #515151;
  background-color: white;
  opacity: .8;
}

.signup {
  position: fixed;
  padding: 30px;
  width: 220px;
  height: 300px;
  top: 50%;
  left: 50%; 
  margin-top: -110px;
  margin-left: -120px;
  color: #515151;
  background-color: white;
  opacity: .8;

}

.form-ctrl {
  width: 160px;
  height: 26px;
  position: center;
}