

a,
a:focus,
a:hover {
color: #515151;
}


/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;

}

html, body {
  padding-top: 77px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Sanchez', serif;
  color: #515151;
}

/*.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}*/

#pac-input {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  height: 30px;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: 'Sanchez', serif;
  z-index: 99999;
}

#type-selector {
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-size: 13px;
  font-weight: 300;
}

.modal-title {
  margin-left: 13px;
}

.btn-sm {
  margin-bottom: 4px;
  height: 30px;
}

.navbar-fixed-top {
  border: 0;
}

#myBtn {
  margin-top: 5px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: #515151;
  display: inline-block;
  text-decoration: none;
}

#navbar {
  font-size: 18px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: #515151;
}

.window-content {
  font-family: 'Sanchez', serif;
}

.form-control {
  margin-top: 20px;
  text-align: center;
}

.place-name {
  text-align: center;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-dismissable, .alert-dismissible {
  padding-right: 55px;
}

.alert-trippy {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  float: left;
  height: 30px;
  margin-left: 10px;
  line-height: 5%;
}




































