{% extends 'base.html' %}
{% block head %}
    <title>User Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
{% endblock %}

{% block content %}
<!--Graphics and images here, maybe a flying JS suitcase a la ninja from MCF-->
<div>
    <h1 id="add-pins-title">Add Pins to Your Map</h1>
    <h2>Search for a city</h2>
    <form id="add-pin-form" action="/add_pins" method="POST">
        
        <div class="form-signup">
            <label>
                City: <input id="city" type="text" name="city" required class="form-ctrl">
            </label>
        </div>
        
        <div class="form-signup">
            <label>
                State: <input id="state" type="text" name="state">
            </label>
        </div>
        
        <div class="form-signup">
            <label>
                Country: <input id="country" type="text" name="country" required class="form-ctrl">
            </label>
        </div>

        <div>
          <input class="pin" type="radio" name="pin_type" value="1"> Add to wish list! <br>
          <input class="pin" type="radio" name="pin_type" value="2"> I want to go back here!<br>
          <input class="pin" type="radio" name="pin_type" value="3"> I do not want to go back here.<br>
        </div>

        <div class="form-signup">
            <input type="submit" name="Add Pin!">
        </div>
    
    </form>
</div>

<div id="map"></div>

<script
  src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap"
  async defer>
</script>

<script>
"use strict";

  var geocoder;
  var map;
  var places;
  var markers = [];

  function initMap() {

    geocoder = new google.maps.Geocoder();

    var mapDefault = {
      center: {lat: 0, lng: 0},
      zoom: 2,
      //TODO enter map type
    };
    
    map = new google.maps.Map(document.getElementById('map'), mapDefault);

    //fetchPlaces();
  }
  // initialize map when page is ready - do i need this?
  // google.maps.event.addDomListener(window, 'load', initMap);

  // add an event listener for when the user submits the form
  // prevent the default behavior of submitting the form
  // take the users input information (which we will grab via jquery or native
  // DOM stuff, 
  // and make a $.get ajax request to google for the geolocation info
  // then... we pass that information to our server and add it to our db
  // then our response from our /add_pins route will be all the user's pins)

  $('#add-pin-form').submit(function(evt){
    evt.preventDefault();

    var city = $("#city").val();
    var state = $("#state").val();
    var country = $("#country").val();
    var pinType = $("input[name=pin_type]:checked").val();
    console.log("pin type is: " + pinType);
    console.log("user entered: " + city + ", " + state + ", " + country);

    var address = city + ", " + state + ", " + country;
    console.log("address is: " + address)

    var url = "https://maps.googleapis.com/maps/api/geocode/json?address=";
    url = url + city + "+" + state + "+" + country + "&key={{ api_key }}"
    console.log("url is: " + url)

    geocoder.geocode( {'address': address}, function(results, status) {
      if (status === google.maps.GeocoderStatus.OK) {
        console.log("geocoding results: " + results);

        map.setCenter(results[0].geometry.location);
        
        var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
        });

        $.get(url, function(data) {
          
          var lat = data.results[0].geometry.location.lat;
          var lng = data.results[0].geometry.location.lng;
          console.log(data.results[0].geometry.location.lat);
          console.log(data.results[0].geometry.location.lng);

          var formInputs = {
              "city": city,
              "state": state,
              "country": country,
              "lat": lat,
              "lng": lng,
              "pinType": pinType 
          };

          $.post("/add_pins",
                 formInputs)
                  //add inline success() function that console.logs); 
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });

    // return false;
  }); 

</script>




{% endblock %}

