{% extends 'base.html' %}
{% block head %}
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
{% endblock %}

{% block content %}
<!--Graphics and images here, maybe a flying JS suitcase a la ninja from MCF-->
<div>
    <h1 id="add-pins-title">Add Pins to Your Map</h1>
    <h2>Search for a city</h2>
    <form action="/add_pins" method="POST">
        
        <div class="form-signup">
            <label>
                City: <input type="text" name="city" required class="form-ctrl">
            </label>
        </div>
        
        <div class="form-signup">
            <label>
                State: <input type="text" name="state">
            </label>
        </div>
        
        <div class="form-signup">
            <label>
                Country: <input type="text" name="country" required class="form-ctrl">
            </label>
        </div>

        <div>
          <input type="radio" name="pin_type" value="1"> Add to wish list! <br>
          <input type="radio" name="pin_type" value="2"> I want to go back here!<br>
          <input type="radio" name="pin_type" value="3"> I do not want to go back here.<br>
        </div>

        <div class="form-signup">
            <input type="submit" name="Add Pin!">
        </div>
    
    </form>
</div>

<div id="map"></div>
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 8
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}
&callback=initMap"
async defer></script>

{% endblock %}

