<!doctype html>
<html>
<head>
    <script src="//code.jquery.com/jquery.js"></script>
   
    {% block head %}
    <title>Travel Management Application</title>
    {% endblock %}
</head>
<body>

Interactive Travel Diary

{% if "user_id" in session %}
    <a href="/logout">Logout</a>

{% else %}
    <a href="/login">Login</a>
    <a href="/signup">Sign Up!</a>
{% endif %}

<hr>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}


  
<!--   // <script src="/static/js/index.js"></script> -->

</body>
</html>
