<!doctype html>
<html>
<head>
    <script src="//code.jquery.com/jquery.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   
    {% block head %}
    <title>Travel Management Application</title>
    {% endblock %}
</head>
<body>

Travel Diary

{% if "user_id" in session %}
    <a href="/user_homepage">Your Map</a>
    <a href="/logout">Logout</a>

{% else %}
    <a href="/login">Login</a>
    <a href="/signup">Sign Up!</a>
{% endif %}

<hr>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/
3.3.7/js/bootstrap.min.js"></script>

  
<!--   // <script src="/static/js/index.js"></script> -->

</body>
</html>
