<!doctype html>
<html>
<head>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/user_homepage.css">
   
{% block head %}
  <title>Travel Management Application</title>
{% endblock %}
</head>

<body>

  Travel Diary

  {% if "user_id" in session %}
      <a href="/user_homepage">Your Map</a>
      <a href="/logout">Logout</a>

  {% else %}
      <a href="/login">Login</a>
      <a href="/signup">Sign Up!</a>
  {% endif %}

  <hr>

  {% for flash in get_flashed_messages() %}
    {{ flash }}
  {% endfor %}

  {% block content %}
      Put your body here.
  {% endblock %}
  
</body>   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/static/user_homepage_map.js"></script>
</html>
