<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>User Homepage</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">
  <link rel="stylesheet" href="/static/user_homepage.css">

</head>

<body>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places&callback=initMap&libraries=places&callback=initMap">
  </script>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Trippy</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><button id="myBtn" type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Add a Pin</button></li>
          <li><a href="/user_homepage">Your Map</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Search for City to Add Pin</h4>
        </div>
        
        <div class="modal-body">
          <div>
            <input id="pac-input" type="text" placeholder="Enter a location" required>
            <button id="submit" type="button" class="btn btn-info btn-sm" 
            name="submit">Add Pin</button>          
          </div>
          <div id="type-selector">
            <input type="radio" name="pin_type" id="pin_type_1" value="1"
              checked="checked" required="required">
            <label for="pin_type_1">Wish List</label>

            <input type="radio" name="pin_type" id="pin_type_2" value="2">
            <label for="pin_type_2">Going Back!</label>

            <input type="radio" name="pin_type" id="pin_type_3" value="3">
            <label for="pin_type_3">Never Going Back</label>
          </div>
        </div>
        
        <div class="modal-footer">
          <div class="alert-trippy alert-success alert-dismissable hidden">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>City Added!
          </div>
          <button id="see_map" type="button" class="btn btn-default" name="see_map"
            data-dismiss="modal">See Your Map</button>
        </div>
      
      </div>

    </div>
  </div>

<div id="map"></div>

<script>var userId = {{ session["user_id"] }} </script>

{% for flash in get_flashed_messages() %}
  "{{ flash }}"
{% endfor %}


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/static/user_homepage_map.js"></script>
</body>   
</html>


